version: '3.3'
services:  
  neo4j:
    image: neo4j:latest
    container_name: structr-neo4j
    restart: unless-stopped

    environment:
      - NEO4J_AUTH=neo4j/structrDockerSetup
      - NEO4J_server_memory_heap_initial__size=1G
      - NEO4J_server_memory_heap_max__size=2G
      - NEO4J_server_memory_pagecache_size=1G

    # Uncomment to access Neo4j browser and Bolt from host
    # ports:
    #   - "7474:7474"  # HTTP
    #   - "7473:7473"  # HTTPS
    #   - "7687:7687"  # Bolt

    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 4g
        reservations:
          cpus: '1'
          memory: 1g

    # Add volumes for data retention
    volumes:
      # folders
      - neo4j-database:/data
      - neo4j-logs:/logs

    # Put service networks so Structr and Neo4j can communicate
    networks:
      structr-network:
        aliases:
          - neo4j
  structr:
    image: structr/structr:6.0.0
    container_name: structr-app
    restart: unless-stopped
    depends_on:
      - neo4j
    ports:
     - "8082:8082"
    environment:
      # JVM Memory Settings and timezone
      - STRUCTR_application_memory_min__heap=1g
      - STRUCTR_application_memory_max__heap=4g
      - STRUCTR_application_timezone=UTC
      
      # Privacy Policy Agreement
      - AGREE_TO_STRUCTR_PRIVACY_POLICY=no
      
      # Superuser Configuration
      - STRUCTR_superuser_password=superuser
      
      # Neo4j Connection Configuration
      - STRUCTR_database_available_connections=neo4j_default
      - STRUCTR_neo4j__default_database_driver=org.structr.bolt.BoltDatabaseService
      - STRUCTR_neo4j__default_database_connection_name=neo4j_default
      - STRUCTR_neo4j__default_database_connection_url=bolt://neo4j:7687
      - STRUCTR_neo4j__default_database_connection_username=neo4j
      - STRUCTR_neo4j__default_database_connection_password=structrDockerSetup
      - STRUCTR_nodeservice_active=neo4j_default
      
      # Schema Configuration
      - STRUCTR_application_schema_automigration=true
      
      # Deployment Configuration (for repository directory mount)
      - STRUCTR_deploymentservlet_filegroup_name=structr
      - STRUCTR_deploymentservlet_filegroup_id=8082

    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 4g
        reservations:
          cpus: '1'
          memory: 1g

    volumes:
      - structr-files:/var/lib/structr/files
      - structr-repository:/var/lib/structr/repository
      - structr-logs:/var/lib/structr/logs
      - ./structr/license.key:/var/lib/structr/license.key

      # Put service into network so Structr and Neo4j can communicate
    networks:
      structr-network:

volumes:
  neo4j-database:
    name: structr-neo4j-database
  neo4j-logs:
    name: structr-neo4j-logs
  structr-files:
    name: structr-files
  structr-repository:
    name: structr-repository
  structr-logs:
    name: structr-logs

networks:
  structr-network:
