name: Docker startup tests
on: 
  push

jobs:
  test-startup:
    strategy:
        matrix: 
          os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}   
    steps:
      - uses: actions/checkout@v3

      - name: Setup Docker on macOS
        id: setup-docker
        uses: douglascamata/setup-docker-macos-action@v1.0.1
        if: ${{ matrix.os == 'macOS-latest' }}

      - name: Agree to Structr policy
        run: sed -i 's/AGREE_TO_STRUCTR_PRIVACY_POLICY=no/AGREE_TO_STRUCTR_PRIVACY_POLICY=yes/' docker-compose.yml

      - name: Start the stack
        run:  docker compose up -d
      
      - name: Check if system comes up
        run: ./.github/workflows/healthCheck.sh
